.planet-modal {
	/* top: 100%;
	left: 0; */
	width: 100%;
	height: 100%;
	-webkit-transform: translateY(-3rem);
	transform: translateY(-3rem);
	opacity: 0;
	/* visibility: hidden; */
	background: #0d1a3b;
	z-index: 1;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
}

h4 {
	font-size: 1.2rem;
	font-weight: 100;
}

.del-1 {
	transition-delay: 0.2s;
}

.del-2 {
	transition-delay: 0.4s;
}

.del-3 {
	transition-delay: 0.6s;
}

.del-4 {
	transition-delay: 0.8s;
}

.del-5 {
	transition-delay: 1s;
}

#partners {
	background-image: url(/img/partners/all-wide.jpg);
	height: 2557px;
	background-position: center;
	background-repeat: no-repeat;
}

#production,
#strategy,
#platform,
#technology {
	width: 100%;
	position: relative;
}

.planet {
	position: absolute;
}

.planet-hidden {
	display: none;
}

/* production */
#partners #planet-1 {
	position: absolute;
	top: 400px;
	right: 900px;
	width: 200px;
	height: 100px;
}

/* production */
#partners #planet-2 {
	position: absolute;
	top: 300px;
	right: 1200px;
	width: 200px;
	height: 100px;
}

/* special */
/* production */
#partners #planet-3 {
	position: absolute;
	top: 300px;
	right: 400px;
	width: 200px;
	height: 100px;
	z-index: 2;
}

/* revealing planets */
#partners #planet-15 {
	position: absolute;
	top: 200px;
	right: 600px;
	width: 200px;
	height: 100px;
}

/* revealing planets */
#partners #planet-16 {
	position: absolute;
	top: 230px;
	right: 120px;
	width: 200px;
	height: 100px;
}

/* revealing planets */
#partners #planet-17 {
	position: absolute;
	top: 600px;
	right: 500px;
	width: 200px;
	height: 100px;
}

/* revealing planets */
#partners #planet-18 {
	position: absolute;
	top: 400px;
	right: 0px;
	width: 200px;
	height: 100px;
}

.reveal-1,
.reveal-2,
.reveal-3,
.reveal-4 {
	-webkit-animation-duration: 10s;
	animation-duration: 10s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	animation: bounceIn 2s;
}

@keyframes bounceIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/* strategy */
#partners #planet-4 {
	position: absolute;
	top: 1000px;
	right: 600px;
	width: 200px;
	height: 100px;
}

/* strategy */
#partners #planet-5 {
	position: absolute;
	top: 900px;
	right: 1000px;
	width: 200px;
	height: 100px;
}

/* platform */
#partners #planet-6 {
	position: absolute;
	top: 1600px;
	right: 150px;
	width: 200px;
	height: 100px;
}

/* platform */
#partners #planet-7 {
	position: absolute;
	top: 1400px;
	left: 500px;
	width: 200px;
	height: 100px;
}

/* platform */
#partners #planet-8 {
	position: absolute;
	top: 1600px;
	left: 800px;
	width: 200px;
	height: 100px;
}

/* platform */
#partners #planet-9 {
	position: absolute;
	top: 1400px;
	right: 550px;
	width: 200px;
	height: 100px;
}

/* technology */
#partners #planet-10 {
	position: absolute;
	top: 1900px;
	left: 600px;
	width: 200px;
	height: 100px;
}

/* technology */
#partners #planet-11 {
	position: absolute;
	top: 2100px;
	left: 400px;
	width: 200px;
	height: 100px;
}

/* technology */
#partners #planet-12 {
	position: absolute;
	top: 1900px;
	right: 600px;
	width: 200px;
	height: 100px;
}

/* technology */
#partners #planet-13 {
	position: absolute;
	top: 2200px;
	right: 800px;
	width: 200px;
	height: 100px;
}

/* technology */
#partners #planet-14 {
	position: absolute;
	top: 2140px;
	right: 400px;
	width: 200px;
	height: 100px;
}

.cool {
	position: absolute;
	bottom: 105px;
	font-size: 25px;
	color: white;
	background-color: rgba(0, 0, 0, 0.431);
	height: auto;
	width: auto;
	padding: 8px 30px;
	box-shadow: 0px 0px 10px 2px rgb(24, 151, 255);
	text-transform: uppercase;
	cursor: default;
}
.planet .pop {
	color: white;
	position: absolute;
	top: 180px;
	left: 0;
	width: auto;
	height: auto;
	padding: 40px;
	-webkit-transform: translateY(-3rem);
	transform: translateY(-3rem);
	/* opacity: 0%;
	visibility: hidden; */
	background: rgba(0, 0, 0, 0.918);
	z-index: 1;
	box-shadow: 0px 0px 16px 0 rgb(24, 151, 255);
}

.planet .title {
}

.planet .description {
	text-transform: none;
	font-size: 18px;
}

.planet .category {
	text-transform: none;
	border-top: 1px solid rgb(24, 151, 255);
	position: relative;
	font-size: 20px;
	text-align: center;
	padding: 0;
	margin: 0;
}

.planet .pop {
	visibility: hidden;
	opacity: 100%;
}

.planet {
	-webkit-animation: action .8s infinite alternate;
	animation: action .8s infinite alternate;
}
@-webkit-keyframes action {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(-5px);
	}
}
@keyframes action {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(-5px);
	}
}

.adel-1 {
	animation-delay: 0.2s;
}

.adel-2 {
	animation-delay: 0.4s;
}

.adel-3 {
	animation-delay: 0.6s;
}

.adel-4 {
	animation-delay: 0.8s;
}

.adel-5 {
	animation-delay: 1s;
}
.adel-6 {
	animation-delay: 0.7s;
}

.adel-7 {
	animation-delay: .23s;
}
